.personal-data legend {
    margin-bottom: 5%;
    margin-left: 5%;
}
.personal-data label {
    margin-left: 2%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--text-weight-light);
}
.personal-data input {
    border: none;
    width: 90%;
    height: 2vh;
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgba(44, 44, 44, 0.3);
}
.personal-data input:focus {
    outline: none;
}
.form-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;
 }
