.favs-n-cart {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}
.favs-n-cart h2 {
    font-size: 2.5rem;
    font-weight: var(--text-weight-bold);
    color: var(--accent-color2);
}
.empty-note p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--text-color);
    margin: 5rem 5rem;
}
.favs-n-cart table {
    margin: 2rem auto;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.favs-n-cart th {
    text-align: left;
    border-bottom: 1px solid rgba(44, 44, 44, 0.3);
    padding: 4px 10px;
}
.favs-n-cart th:nth-child(3) {
    text-align: center;
}
.favs-n-cart th:nth-child(4) {
    text-align: center;
}
.favs-n-cart table td {
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: left;
    padding: 2px 10px;
}
.favs-n-cart td:nth-child(3) {
    text-align: center;
}
.favs-n-cart td:nth-child(4) {
    text-align: center;
}
.favs-n-cart img {
    height: 2rem;
}
.count {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}
.cost {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}