header {
    margin: 0 auto;
    height: 5rem;
    width: 100%;
}
header .header-block {
    margin: 0.5% auto;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-block img {
    height: 4rem;
    cursor: pointer;
}
header .nav-and-search {
    display: flex;
    flex-basis: 70vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}
header nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}
header nav a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
header nav a:hover {
    color: rgba(90, 130, 127, .9);
}
header .search-line {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
header .search-line input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--bg-color);
    width: 50vw;
}
header .search-line img {
    cursor: pointer;
    height: 1.5rem;
}
header .search-line img:hover {
    opacity: 0.8;
}
header .icons {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
header .icons img{
    height: 30px;
    width: 30px;
    transition: 200ms;
}

header .icons p {
    font-size: var(--text-size-small);
    color: var(--text-color);
}
header .icons .icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: 200ms;
}
header .icons .icon:hover p {
    color: rgba(245, 196, 93, .9);
}
header .icons .icon:hover img {
    filter: drop-shadow(0 0 3px rgba(245, 196, 93, .9));
}

header .button {
    border: none;
    outline: none;
}

